body{
    font-family: 'Montserrat',sans-serif;
    overflow-x: hidden;
}

#menu a {
    font-size: 18px;
    font-weight: bold;
    
}

#menu button {
    font-size: 18px;
    font-weight: bold;
    
}

.carousel-inner{
    max-height: 39 rem;
}


#header{
   bg-primary: rgb(122, 104, 204);
}

@media (max-width: 768px){
    #intro, #equipo{
        width: 90% !important;
    
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
}

@media(max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }    
}

.mapa{
    background:url(../docs/content/mapa.png);
    width: 100%;
    height: 500px;
}

#local{
    background: #f3f3f3;
    padding-bottom:300px ;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 50%;
    margin-left: 100px;
    padding-top: 150px;
}


@media (max-width:1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;
    }

    .wrapper{
        width: 90%;
        margin: auto;
        padding-top: 50px;
    }
}

#numeros-local div{
    padding: 0 20px 0 0;
    height: 48px;
}

#numeros-local div:not(:last-child){
    border-right: 2px #f3f3f3;
}

#numeros-lcoal div:not(:first-child){
    padding: -left:20px;
}

#local{
    background-color: #f3f3f3;
    padding-bottom: 300px;
    display: flex;
    justify-content: center;
}

.wrapper{
    width: 50%;
    margin-left: 100px;
    margin-top: 150px;
}

@media(max-width:1200px){
    #local{
        flex-wrap: wrap;
        padding-top: 30px;

    }

    .wrapper{
        width:90% ;
        margin:auto;
        padding-top:50px ;
    }
}

#numeros-local div{
    padding: 0 20px 0 0;
    height: 48px;
}

#numeros-local div:not(last-child){
    border-right:2px solid #3f3f3f ;


}

#numeros local div:not(:first-child){
    padding-left: 20px;
}

#numeros local p{
    margin: 0;
}